<div class='row mr-0 justify-content-center'>
    <div class='col-lg-7 '>
        <div class="card border-danger mb-3" >
            <% if @post.header_image.present? %>
                <%= image_tag @post.header_image, width: '100%', height: '90%' %></div>
            <% end %>
            <div class="card-body p-4 d-flex flex-column">
                <h1 class="card-title"><%= @post.title %></h5>
                
                <% @post.elements.each do |element| %>
                        <% if element.image? %>
                            <%= image_tag(element.image) %>
                        <% else %>
                            <%= element.content %>
                        <% end %>
                    
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class='row mr-0 justify-content-center'>
    <% if author_signed_in? %>
        <% pre_like = @post.likes.find { |like| like.author_id == current_author.id} %>
        <% if pre_like %>
            <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete, class: 'ml-3 form-controll btn-danger', id: 'unlike_button' %>
        <% else %>
        <%= button_to 'Like', post_likes_path(@post), method: :post, class: 'ml-3 form-controll ', id: 'like_button' %>
        <% end %>
    <% end %>

    <p class='text_likes ml-3'>
        <%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes' %>
    </p>
</div>



<div class='row mr-0 justify-content-center'>
    <div class='col-lg-5 comment-section'>
        
        <%= render 'comments/comment' %>
        <h5 class='mt-4'>Comments</h5>
        <%= render 'comments/body' %>
    <div>
</div>
