
<div class="d-flex justify-content-between mb-4">
  <h4>Posts</h4>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-warning' %>
</div>

<% @posts.each do |post| %>
  <%= link_to edit_post_path(post), class: 'text-decoration-none' do %>
    <div class="card mb-3"  >
      <div class="card-body ">
        <div class="row">
          <div class="col-md-3">
            <% if post.header_image.present? %>
              <div class="header-img" style="background-image: url(<%= url_for(post.header_image) %>);"></div>
            <% end %>
          </div>
          <div class="col-md-9">
            <span class='badge badge-warning mb-2'>
              <% if post.published? %>
                Published
              <% else %>
                  Unpublished
              <% end %>
            </span>
            <h5 class="card-title mb-2 text-dark"><%= post.title %></h5>
            <p class="card-text text-secondary mb-0"><%= post.description%></p>
          </div>
        </div>
        
      </div>
    </div>
  <% end %>
<% end %>



<br>

